.App {
  text-align: center;
  font-family: Helvetica;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

fieldset {
  width: 400px;

  & label {
    text-transform: capitalize;
  }
}


.row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 25px;

  & p {
    margin-top: 20px;
  }
}

button {
  height: 50%;
  font-size: 200%;
  padding: 0 10px 10px 10px;
}

